[submodule "AOD-Net-colab"]
	path = AOD-Net-colab
	url = git@github.com:leenslf/AOD-Net-colab.git
[submodule "external/davis-deblur"]
	path = external/davis-deblur
	url = git@github.com:leenslf/davis-underwater-deblur.git
